<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="552A3646-4F2B-42B8-BFDA-60288121EDBE" Name="git-untracker" Language="1033" Version="0.0.1.0" Manufacturer="Apocalyptic Octopus" UpgradeCode="1A0E9CFB-A816-4700-A26D-FF59B350D087">
        <Package Description="Git addon that is like .gitignore but for tracked files" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="GIT_UNTRACKER" Name="git-untracker">
                    <Component Id="BCL.COMMUNITY.EXTENSIONS.DLL" DiskId="1" Guid="ED5520B9-7505-40B7-8346-F0F6CC06EB23">
                        <File Id="BCL.COMMUNITY.EXTENSIONS.DLL" Name="Bcl.Community.Extensions.dll" Source="git-untrack\bin\Release\Bcl.Community.Extensions.dll" />
                    </Component>
                    <Component Id="COMMANDLINE.DLL" DiskId="1" Guid="2EC4AC36-ED4E-41F7-88C4-CA52B5989AC5">
                        <File Id="COMMANDLINE.DLL" Name="CommandLine.dll" Source="git-untrack\bin\Release\CommandLine.dll" />
                    </Component>
                    <Component Id="GIT_UNTRACK_COMMON.DLL" DiskId="1" Guid="1C9DCE7D-172D-4897-8697-0084AA7F8991">
                        <File Id="GIT_UNTRACK_COMMON.DLL" Name="git-untrack-common.dll" Source="git-untrack\bin\Release\git-untrack-common.dll" />
                    </Component>
                    <Component Id="GIT_UNTRACK.EXE" DiskId="1" Guid="DFECCB2B-F859-4DBB-912F-9AFFE1F9E986">
                        <File Id="GIT_UNTRACK.EXE" Name="git-untrack.exe" Source="git-untrack\bin\Release\git-untrack.exe" />
                        <Environment Id="PATH" Name="PATH" Value="[GIT_UNTRACKER]" Permanent="no" Part="last" Action="set" System="yes" />
                    </Component>
                    <Component Id="GIT_UNTRACK.EXE.CONFIG" DiskId="1" Guid="FD75068C-1D8A-42B5-A843-FA1D6262E05D">
                        <File Id="GIT_UNTRACK.EXE.CONFIG" Name="git-untrack.exe.config" Source="git-untrack\bin\Release\git-untrack.exe.config" />
                    </Component>
                    <Component Id="GIT_UNTRACK.VSHOST.EXE" DiskId="1" Guid="F01C81E7-9FE6-4B93-98BB-495D697FADC9">
                        <File Id="GIT_UNTRACK.VSHOST.EXE" Name="git-untrack.vshost.exe" Source="git-untrack\bin\Release\git-untrack.vshost.exe" />
                    </Component>
                    <Component Id="GIT_UNTRACK.VSHOST.EXE.CONFIG" DiskId="1" Guid="43788761-A76D-4729-A5F4-18D6C8D6B402">
                        <File Id="GIT_UNTRACK.VSHOST.EXE.CONFIG" Name="git-untrack.vshost.exe.config" Source="git-untrack\bin\Release\git-untrack.vshost.exe.config" />
                    </Component>
                    <Component Id="GIT_UNTRACK.VSHOST.EXE.MANIFEST" DiskId="1" Guid="2D09EE67-B547-48DB-B380-16FBCE2727E3">
                        <File Id="GIT_UNTRACK.VSHOST.EXE.MANIFEST" Name="git-untrack.vshost.exe.manifest" Source="git-untrack\bin\Release\git-untrack.vshost.exe.manifest" />
                    </Component>
                    <Component Id="GIT_RETRACK.EXE" DiskId="1" Guid="A942B6F4-1B51-424F-A43A-52B276437D70">
                        <File Id="GIT_RETRACK.EXE" Name="git-retrack.exe" Source="git-retrack\bin\Release\git-retrack.exe" />
                    </Component>
                    <Component Id="GIT_RETRACK.EXE.CONFIG" DiskId="1" Guid="071086B3-1D50-41AA-A51E-3D9B9B889F32">
                        <File Id="GIT_RETRACK.EXE.CONFIG" Name="git-retrack.exe.config" Source="git-retrack\bin\Release\git-retrack.exe.config" />
                    </Component>
                    <Directory Id="GIT_TEMPLATE_DIR" Name="git_template_dir">
                        <Directory Id="HOOKS" Name="hooks">
                            <Component Id="POST_CHECKOUT" DiskId="1" Guid="F5C76698-04F1-47A3-B0A1-6865E31CC589">
                                <File Id="POST_CHECKOUT" Name="post-checkout" Source="git_template_dir\hooks\post-checkout" />
                                <Environment Id="GIT_TEMPLATE_DIR" Name="GIT_TEMPLATE_DIR" Value="[GIT_TEMPLATE_DIR]" Permanent="no" Part="all" Action="set" System="yes" />
                            </Component>
                            <Component Id="POST_COMMIT" DiskId="1" Guid="598AA270-6616-40D4-8999-87A2DABDB6EC">
                                <File Id="POST_COMMIT" Name="post-commit" Source="git_template_dir\hooks\post-commit" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="POST_CHECKOUT" />
            <ComponentRef Id="POST_COMMIT" />
            <ComponentRef Id="BCL.COMMUNITY.EXTENSIONS.DLL" />
            <ComponentRef Id="COMMANDLINE.DLL" />
            <ComponentRef Id="GIT_UNTRACK_COMMON.DLL" />
            <ComponentRef Id="GIT_UNTRACK.EXE" />
            <ComponentRef Id="GIT_UNTRACK.EXE.CONFIG" />
            <ComponentRef Id="GIT_UNTRACK.VSHOST.EXE" />
            <ComponentRef Id="GIT_UNTRACK.VSHOST.EXE.CONFIG" />
            <ComponentRef Id="GIT_UNTRACK.VSHOST.EXE.MANIFEST" />
            <ComponentRef Id="GIT_RETRACK.EXE" />
            <ComponentRef Id="GIT_RETRACK.EXE.CONFIG" />
        </Feature>
        <UI />
    </Product>
</Wix>